:root {
	/* Primary Colors */
	--clr-lightRed: hsl(0, 100%, 67%);
	--clr-orangeYellow: hsl(39, 100%, 56%);
	--clr-greenTeal: hsl(166, 100%, 37%);
	--clr-cobaltBlue: hsl(234, 85%, 45%);

	/* Neutral Colors */
	--clr-white: hsl(0, 0%, 100%);
	--clr-paleBlue: hsl(221, 100%, 96%);
	--clr-lightLavender: hsl(241, 100%, 89%);
	--clr-darkGreyBlue: hsl(224, 30%, 27%);

	/* Color Gradient */

	/* for background */
	--clr-lightSlateBlue: hsl(252, 100%, 67%);
	--clr-lightRoyalBlue: hsl(241, 81%, 54%);

	/* for circle */
	--clr-violetBlue: hsla(256, 72%, 46%, 1);
	--clr-persianBlue: hsla(241, 72%, 46%, 0);

	/* Font */
	--ff-HankenGrotesk: "Hanken Grotesk", sans-serif;

	--fw-500: 500;
	--fw-700: 700;
	--fw-800: 800;

	--fs-paragraph: 18px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: var(--ff-HankenGrotesk);
	font-weight: var(--fw-500);

	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 375px) {
	body {
		margin-block: -8rem;
		padding: 0 auto;
	}
}

.card {
	display: flex;
	width: 500px;
	height: auto;
	box-shadow: 0.1rem 0.3rem 1rem rgb(0 0 0 / 0.2);
	margin-inline: auto;
	margin-block: 8rem;
	margin-bottom: 1rem;
	border-radius: 1.5rem;
}

@media screen and (max-width: 375px) {
	.card {
		display: inline-block;
		width: 100%;
		border-radius: 0 0 10px 10px;
		height: auto;
	}
}

.wrapper {
	color: var(--clr-white);
	background: linear-gradient(180deg, var(--clr-lightSlateBlue), var(--clr-lightRoyalBlue));
	border-radius: 1.5rem;
	width: 50%;
	height: auto;
	text-align: center;
}

@media screen and (max-width: 375px) {
	.wrapper {
		width: 100%;
		padding-block: 0.5rem;
		border-radius: 0 0 1.5rem 1.5rem;
	}
}

.your-result {
	color: var(--clr-lightLavender);
	font-size: 19px;
	font-weight: var(--fw-500);
}

h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-inline: auto;
	font-size: 3rem;
	background: linear-gradient(180deg, var(--clr-violetBlue), var(--clr-persianBlue));
}

.span-bottom {
	font-size: 12px;
	color: var(--clr-lightLavender);
	font-weight: 200;
}

h2 {
	font-size: 1.3rem;
	margin-block: -0.6rem;
}

.wrapper > p {
	margin-inline: 3.5rem;
	margin-block: 1rem;
	color: var(--clr-lightLavender);
	font-size: 0.7rem;
}

.card-body {
	width: 50%;
}

@media screen and (max-width: 375px) {
	.card-body {
		width: 100%;
	}
}

.card-body > h3 {
	margin-inline: 1rem;
}

.card-body > p {
	display: flex;

	font-size: 13px;
	line-height: 3;
}

.span-right {
	font-weight: 300;
	margin-left: auto;
}

.reaction {
	margin-inline: 1rem;
	padding-inline: 1rem;
	border-radius: 10px;
	background-color: hsl(0, 100%, 97%);
}
.reaction-svg {
	margin-block: auto;
	margin-right: 5px;
}

.reaction-text {
	color: var(--clr-lightRed);
}

.memory {
	margin-inline: 1rem;
	padding-inline: 1rem;
	border-radius: 10px;
	background-color: hsl(39, 100%, 95%);
}

.memory-svg {
	margin-block: auto;
	margin-right: 5px;
}

.memory-text {
	color: var(--clr-orangeYellow);
}

.verbal {
	margin-inline: 1rem;
	padding-inline: 1rem;

	border-radius: 10px;
	background-color: hsl(166, 100%, 95%);
}

.verbal-svg {
	margin-block: auto;
	margin-right: 5px;
}

.verbal-text {
	color: var(--clr-greenTeal);
}

.visual {
	margin-inline: 1rem;
	padding-inline: 1rem;
	border-radius: 10px;
	background-color: hsl(234, 85%, 95%);
}

.visual-svg {
	margin-block: auto;
	margin-right: 5px;
}

.visual-text {
	color: var(--clr-cobaltBlue);
}

button {
	width: 88%;
	margin-inline: 1rem;
	margin-block: 1rem;
	height: 2.2rem;
	background-color: var(--clr-darkGreyBlue);
	color: var(--clr-white);
	border: none;
	border-radius: 100px;
}

button:hover {
	background-color: var(--clr-lightRoyalBlue);
}
